{{!<default}}


    <table id="t01">
        <thead>
        <tr>
            <th>Name</th>
            <th>Mark</th>
            <th>Subject</th>
        </tr>
        </thead>
        <tbody>
        {{#each employeesArray}}
            <tr>
                <td>{{ this.name }}</td>
                <td>{{ this.phone }}</td>
                <td>{{ this.email }}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
